<div hoverDirective>
  Box 1 with hoverDirective
</div> 

<div hoverDirective
    defaultColor='lightgreen'
    highlightColor='yellow'
>
Box 2 with hoverDirective (overridden)
</div>

<div class='dropdown-container'>
  <div dropDown>
    <a href='#'>Band <span class='caret'></span></a>
    <ul>
      <li>800</li>
      <li>900</li>
    </ul>
  </div>

  <div dropDown>
    <a href='#'>Technology <span class='caret'></span></a>
    <ul>
      <li>GSM</li>
      <li>LTE</li>
    </ul>
  </div>
</div>