<div id='main' class='main'>

    <div class='test test1'>
        <span>No transform <br>
            Paragraph styled
        </span>
    </div>
    <div class='test test2'>
        transform: translate(10rem, 0)
    </div>
    <div class='test test3'>
        transform: rotate(45deg)
    </div>
    <div class='test test4'>
        <span>
            <h5>On Hover</h5>
            transform: scale(1.2, 2) = <br> width = add 0.2% height = double
        </span>
    </div>
    
    
    <div id='skew' class='skew-wrapper'>
        <h3>Skew Example</h3>
        <div class='skew skew1'> fun </div>
        <div class='skew skew2'> with</div>
        <div class='skew skew3'> skew </div>
        <div class='skew skew4'> ye...</div>
    </div>

</div>